{:paths ["src"]

 :deps {}

 :aliases
 {:build {:deps       {io.github.clojure/tools.build {:mvn/version "0.9.4"}
                       slipset/deps-deploy           {:mvn/version "0.2.1"}}
          :ns-default build}}}
