{:paths ["src"]

 :deps {}

 :aliases
 {:build {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
                       slipset/deps-deploy           {:mvn/version "0.2.0"}}
          :ns-default build}}}
